<html>
  <head>
    <meta charset="utf-8">
    <title>Catering</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </head>
  
<!-- Please read this -->
<!-- http://jimhoskins.com/2012/12/14/nested-scopes-in-angularjs.html -->  
  
  <body ng-app="Catering" ng-controller="SubscribeController">
  
    <form ng-hide="data.subscribed" name="SubscribeForm">
      <div name="emailsubscribe">
        Email:
        <input type="text" name="input" ng-model="data.email" ng-pattern="/^[a-zA-Z\.]+@siemens.com$/" placeholder="user@siemens.com" required/>
        <span class="error" ng-show="SubscribeForm.input.$error.pattern">Invalid email address!</span>
        <input type="button" ng-disabled="SubscribeForm.input.$error.required || SubscribeForm.input.$error.pattern" ng-click="OnSubscribe()" value="Subscribe" />
      </div>
    </form>

   <p ng-show="data.subscribed"> {{ data.email }} subscribed. Please check your email for information.</p>

    <!-- Test only
    <p>Email: {{ data.email }}</p>
    <p>{{SubscribeForm.input.$error | json}}</p>
      -->

  </body>
</html>

