<html>
  <head>
    <meta charset="utf-8">
    <title>Catering</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </head>
  <body ng-app="Catering" ng-controller="CateringController">
  
    <form name="SubscribeForm">
      <div name="emailsubscribe">
        Email:
        <input type="email" name="input" ng-model="email" placeholder="user@domain" required/>
    <span class="error" ng-show="SubscribeForm.input.$error.email">
      Invalid!</span>
        <input type="button" ng-disabled="SubscribeForm.input.$error.required || SubscribeForm.input.$error.email" ng-click="OnSubscribe()" value="Subscribe" />
      </div>
    </form>
    
      <p>Email: {{ email }}</p>
      
  </body>
</html>
